<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="cover-container d-flex h-100 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner flex navbar sticky-top navbar-light bg-white">
					<a href="#">
						<img id="logo" src="/images/logo.jpeg" alt="">
					</a>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/about-us">About Us</a>
            <a class="nav-link" href="/gallery">Gallery</a>
            <a class="nav-link" href="/team">Team</a>
            <a class="nav-link" href="/contact-us">Contact Us</a>
          </nav>
        </div>
      </header>
		</div>

    <span>Gallery</span>
  </body>
</html>
