<!doctype html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<link rel="gallery" href="/stylesheets/gallery.css">
</head>
<body>
    <div class="slider-holder">
        <span id="slider-image-1"></span>
        <span id="slider-image-2"></span>
        <span id="slider-image-3"></span>
        <div class="image-holder">
            <img src="slidingimag1.jpg" class="slider-image" />
            <img src="slidingimag2.jpg" class="slider-image" />
            <img src="slidingimag3.jpg" class="slider-image" />
        </div>
        <div class="button-holder">
            <a href="#slider-image-1" class="slider-change"></a>
            <a href="#slider-image-2" class="slider-change"></a>
            <a href="#slider-image-3" class="slider-change"></a>
        </div>
    </div>
</body>
</html>
