<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: lightblue;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: brown;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}

li a:hover {
    background-color: yellow;
}

a.active {
    background-color: blue;
}
</style>
</head>
<body>

<ul>
  <li><a href="#home">Contact us</a></li>
  <li><a href="#news">Upcoming projects</a></li>
  <li><a href="#contact">Team Info</a></li>
  <li><a href="#about">Gallery</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#about">Home</a></li>


</ul>

</body>
</html>
