.section-1 {
  background-size: cover;
  height: 700px;
}

.section-1 .text {
  padding-top: 200px;
  width: 50%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.section-1 .title {
  font-size: 4em;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 0;
}

#recent-projects {
  margin-top: 10px;
  background-color: transparent;
  border: solid 1px;
  padding: 10px 25px;
  font-weight: 500;
  line-height: 24px;
  font-family: roboto, sans-serif;
  font-size: 15px;
}

#logo {
  height: 75px;
  width: 250px;
  padding-left: 20px;
}

header .nav-link {
  color: #d2caca;
  font-size: 18px;
  padding: .5rem 2rem;
}

header .inner {
  padding: 15px 100px;
  font-family: 'Raleway', sans-serif;
}
