img {
	width: 200px;
    height:150px;
    margin-right: 00px;
		margin-left: 100px;
	}
.info {
	display: inline-block;
	border: 0px solid black;
  width: 100%;
  height: 40%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: white;
	text-align: center;
}

.callus {
	display: inline-block;
	border: 0px solid black;
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 30px;
  margin-left: 200px;
 	font-size: 15px;
 	color: #093eb6;
}

.emailus {
	display: inline-block;
	border: 0px solid black;
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-bottom: 00px;
  margin-right: 30px;
  margin-left: 0px;
  font-size: 15px;
 	color: #093eb6;
}

.Address {
	display: inline-block;
	border: 0px solid black;
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 15px;
 	color: #093eb6;
}
#navbar {
	overflow: hidden;
 background-color:#f3f3f3;
}

#navbar a {
	float: left;
  display: block;
  color: #262626;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  font-size: 17px;
  font-size: 17px;
  font-family: roboto condensed;
  font-weight: 700;
  line-height: 1.467;
  text-transform: uppercase;
}

#navbar a:hover {
  background-color: #cb3434;
  color: black;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
	display: inline-block;
	border: 0px solid black;
  width: 100%;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  background-color: white;
	text-align: center;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

.feature	 {
		text-align: center;
		margin: auto;
		width: 60%;
    border: 0px solid black ;
    padding: 0px;

	}
	.service {
		display: inline-block;
		border: 0px solid black;
		width: 350px;
		height: 400px;
	  margin: 20px;
		padding: 0px;
		text-align: center;
		}
.creativework {
	display: inline-block;
	border: 0px solid black;
	width: 100%;
	height: 100px;
	text-align: center;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	margin: 20px;
	}
.creativeimages	 {
		margin: auto;
		width:60%;
		height: auto;
		border: 0px solid black ;
		padding: 0px;
		}
.creativeteam {
		display: inline-block;
		border: 0px solid black;
		width: 100%;
		height: 100px;
		text-align: center;
		font-size: 20px;
		font-family: 'Raleway', sans-serif;
		margin: 20px;
		}
.creativeteamimages	 {
		margin: auto;
		width:60%;
		height: 500px;
		border: 0px solid black ;
		padding: 0px;
		margin-bottom: 70px;
		}
.footer {
	 background-color: #80aaff;
   color: white;
	 margin-top: 20px;

	}
.bottominfo1	{
	display: inline-block;
	width: 20%;
	height: 150px;
	border: 0px solid black ;
	padding: 0px;
	background-color: #ffda44;
	color: black;
	font-size: 20px;
	margin-left: 420px;
	margin-bottom: 20px;
	margin-right: -15px;
	margin-top: -80px;
	text-align: center;
	}
.bottominfo2 {
	display: inline-block;
	text-align: center;
	width: 20%;
	height: 150px;
	border: 0px solid black ;
	padding: 0px;
	background-color: #ffd633;
	color: black;
	font-size: 20px;
	margin-right: -15px;
	margin-top: -80px;
	margin-bottom: 20px;
	}
.bottominfo3 {
	display: inline-block;
  text-align: center;
	width: 20%;
	height: 150px;
	border: 0px solid black ;
	padding: 0px;
	background-color: #ffd11a;
	color: black;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: -80px;
	}
.logothoughts {
	display: inline-block;
  margin-left: 420px;
	width: 20%;
	height: auto;
	border: 0px solid black ;
	padding: 0px;
	color: black;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.googleMap {
	display: inline-block;
	margin-left: 20px;
	border: 1px solid black;
	padding: 0px;

.feature {
	text-align: center;
	margin: auto;
  width: 60%;
  border: 0px solid black ;
  padding: 0px;
}
.service {
	display: inline-block;
	border: 0px solid black;
	width: 350px;
	height: 400px;
  margin: 20px;
	padding: 0px;
	text-align: center;
}
